  <nav class="navbar ">
    <a href="#">
      
    </a>
    <span class="navbar-text">
      <a href="#" >
        <i class="fa fa-bell-o" aria-hidden="true" 
            style="font-size:25px;
                  color:rgb(212, 217, 231);
                  margin-right: 30px;
                  margin-left: 50px;">
        </i>
      </a>       
      <a href="#" >
        <i class="fa fa-user-circle-o" aria-hidden="true" 
            style="font-size:25px;
                  color:rgb(212, 217, 231);
                  margin-right: 40px;"></i>
      </a>
    </span>
  </nav>