<div class="row">
    <div class="col-md-12">
        <div class="card card-1">
            <div class="card-body">
              <h5 class="card-title">Arbol de Quejas Administrativas</h5>
                <hr>
                  <div class="row">
                    <div class="col-md-5">
                      <br>
                      <h6 class="card-subtitle mb-2 text-muted text-center">Agregar/Actualizar</h6>
                        <app-form-arbol-qa></app-form-arbol-qa>
                    </div>
                    <div class="col-md-7">
                      <br>
                      <h6 class="card-subtitle mb-2 text-muted text-center">Listado de Qa</h6>
                        <app-list-arbol-qa></app-list-arbol-qa>
                    </div>
                </div>
            </div>
          </div>
    </div>
  </div>