<form>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationCustom01">Sucursal</label>
        <select class="form-control form-control-sm" required>
            <option selected disabled value="">Elegir...</option>
            <option>...</option>
        </select>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationCustom02">Zona</label>
        <select class="form-control form-control-sm" name="zonas" required>
            <option selected disabled value="">Elegir...</option>
            <option></option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">Pago no registrado</label>
        <input type="text" class="form-control form-control-sm" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">Domocilio con adeudo</label>
        <input type="text" class="form-control form-control-sm" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">Cargos improcedentes a TC</label>
        <input type="text" class="form-control form-control-sm" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">Folio no ingresado</label>
        <input type="text" class="form-control form-control-sm" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">Aclaración de venta</label>
        <input type="text" class="form-control form-control-sm" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">Contrato duplicado</label>
        <input type="text" class="form-control form-control-sm" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">Imposibilidad tecnica</label>
        <input type="text" class="form-control form-control-sm" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">Daños a propiedad</label>
        <input type="text" class="form-control form-control-sm" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">Quejas repetitivas</label>
        <input type="text" class="form-control form-control-sm" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">Mantenimiento pendiente</label>
        <input type="text" class="form-control form-control-sm" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">Equipo no registrado</label>
        <input type="text" class="form-control form-control-sm" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">Trabajo en PRO</label>
        <input type="text" class="form-control form-control-sm" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">Cambios de ciudad</label>
        <input type="text" class="form-control form-control-sm" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">Validar trabajo atendido</label>
        <input type="text" class="form-control form-control-sm" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">Auditoria/ Todos los subtipos</label>
        <input type="text" class="form-control form-control-sm" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">mal servicio CIS</label>
        <input type="text" class="form-control form-control-sm" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">Mal servicio cambaceo</label>
        <input type="text" class="form-control form-control-sm" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">Mal servicio tecnico</label>
        <input type="text" class="form-control form-control-sm" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">Aplicar pagos equivocados</label>
        <input type="text" class="form-control form-control-sm" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">Atender queja por ret de megared</label>
        <input type="text" class="form-control form-control-sm" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">Atender queja por ret de cable</label>
        <input type="text" class="form-control form-control-sm" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">Portabilidad mal realizada</label>
        <input type="text" class="form-control form-control-sm" required>
      </div>

    </div>
    <button class="btn btn-success btn-block" type="submit">
        <i class="fa fa-database"></i>  Aceptar
    </button>
  </form>
