    <div class="sidebar-logo">
      <img src="../../../assets/img/logo/logo-megacable.png" width="280" height="50"/>
    </div>
    <ul class="sidebar-navigation">
      <li class="header text-center">Soporte CCN - ADMIN</li>
      <li>
        <a routerLinkActive="active-item" routerLink="/pages/inicio">
          <i class="fa fa-home" aria-hidden="true"></i> Dashboard
        </a>
      </li>
      <li>
        <a routerLinkActive="active-item" routerLink="/pages/arbolQa">
          <i class="fa fa-tachometer" aria-hidden="true"></i> Arbol QA
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-cog" aria-hidden="true"></i> Settings
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-info-circle" aria-hidden="true"></i> Información
        </a>
      </li>
    </ul>


