<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">id</th>
        <th scope="col">Sucursal</th>
        <th scope="col">Zona</th>
        <th class="text-center">Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Tepic</td>
        <td>Pacifico</td>
        <td class="text-center">
            <i class="fa fa-edit fa-lg text-info" 
            style="cursor: pointer;" 
            >
            </i>
        </td>
      </tr>
    </tbody>
  </table>